In [46]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import sys
import numpy as np
import pickle
from sklearn.utils import shuffle

In [47]:
dummy_data = pd.read_excel('DataSets\Dummy_data_testing.xlsx')
dummy_data_cleaned = dummy_data.drop(
    ['nameOrig', 'nameDest', 'OrigCountry', 'DestCountry'], axis=1)
dummy_data_cleaned = pd.get_dummies(dummy_data_cleaned)

In [48]:
y_dummy = dummy_data_cleaned.loc[:, 'isFraud']
X_dummy = dummy_data_cleaned.drop(['isFraud'], axis=1)

In [49]:
classifier = RandomForestClassifier(n_estimators=50)
filename = 'TM_Model_Kushagra.h5'
loaded_model = pickle.load(open(filename, 'rb'))
y_pred = loaded_model.predict(X_dummy)

In [50]:
y_predected_dummy = y_pred
y_predected_dummy = list(y_predected_dummy)
dummy_data = dummy_data.drop('isFraud', axis=1)
dummy_data['isFraud'] = y_predected_dummy

In [51]:
df_red = dummy_data[dummy_data['isFraud'] == 1]
df_red = df_red.drop('isFraud', axis=1)
df_red['Flag'] = 'Red'
# Saving the Red File To The CSV Format --------
df_red.to_csv('Generated_Csv\Red_Flagged.csv')

In [52]:
df2 = pd.DataFrame(pd.read_excel('DataSets\Contries_score.xlsx'))
df2 = df2.rename(columns={'Overall score': 'score'})
df2 = df2[df2['score'] >= 6]
country_score = pd.Series(df2.score.values, index=df2.Country).to_dict()

In [53]:
dummy_data = dummy_data[dummy_data['isFraud'] == 0]
dummy_data.drop('isFraud', axis=1)

,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,OrigCountry,DestCountry
0,CASH_OUT,229133.94,C905080434,15325.00,0.00,C476402209,5083.00,51513.44,AFGHANISTAN,CAPE VERDE
1,TRANSFER,311685.89,C1984094095,10835.00,0.00,C932583850,6267.00,2719172.89,HAITI,SRI LANKA
2,TRANSFER,7413.54,C1470868839,297689.58,290276.03,M1426725223,0.00,0.00,MYANMAR,PARAGUAY
3,TRANSFER,6660.33,C893523498,17710.00,11049.67,M1770070706,0.00,0.00,LAOS,BAHAMAS
4,TRANSFER,26923.42,C1108517064,11049.67,0.00,C1983747920,199404.91,95508.95,MOZAMBIQUE,TANZANIA
...,...,...,...,...,...,...,...,...,...,...
91,TRANSFER,312895.63,C1724067349,40171.00,0.00,C1651945012,0.00,1556799.98,BOSNIA-HERZEGOVINA,ANDORRA
93,CASH_IN,367834.87,C1023460014,902685.56,1270520.43,C1609562230,4883037.95,4515203.08,MARSHALL ISLANDS,MYANMAR
94,CASH_IN,287937.99,C1716876539,1270520.43,1558458.42,C1423992712,9977117.37,9689179.38,HONDURAS,UZBEKISTAN
95,CASH_IN,37360.00,C1052245880,1558458.42,1595818.41,C790722099,88544.15,51184.15,MOROCCO,ECUADOR
96,CASH_OUT,269206.30,C1526476924,0.00,0.00,C1065997164,974210.20,2826797.81,INDIA,SERBIA

In [54]:
orange_flag = {}
green_flag = {}
for i in dummy_data.index:
    if dummy_data['OrigCountry'][i] in country_score.keys() or dummy_data['DestCountry'][i] in country_score.keys():
        if ((dummy_data['amount'][i] > 100000)):
            orange_flag.update({dummy_data['nameOrig'][i]: 'orange'})
    else:
        green_flag.update({dummy_data['nameOrig'][i]: 'green'})

In [55]:
orange = pd.DataFrame(orange_flag.items(), columns=['nameOrig', 'Flag'])
green = pd.DataFrame(green_flag.items(), columns=['nameOrig', 'Flag'])
df_orange = dummy_data.merge(orange, how="inner")
df_orange.to_csv('Generated_Csv\ORANGE_FLAGGED.csv')
df_green = dummy_data.merge(green, how="inner")
df_green.to_csv('Generated_Csv\Green_Flagged.csv')

In [56]:
df_orange.to_json('client\src\data\Organge_Flagged.json', orient='records')
df_red.to_json('client\src\data\Red_Flagged.json', orient='records')
df_green.to_json('client\src\data\Green_Flagged.json', orient='records')

In [59]:
send_back1 = df_orange
send_back2=df_green
send_back3=df_red
print('Orange\n\n {} \n\n Green \n\n {} \n\n Red \n\n {} '.format(send_back1,send_back2,send_back3),flush=True)
sys.stdout.flush()

Orange

         type      amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0   CASH_OUT   229133.94   C905080434       15325.00            0.00
1   TRANSFER   311685.89  C1984094095       10835.00            0.00
2   TRANSFER   211075.91  C1540894701           0.00            0.00
3   TRANSFER   100677.86   C203149502           0.00            0.00
4   TRANSFER   473499.51  C1198197478           0.00            0.00
5   TRANSFER  1538200.39   C476579021           0.00            0.00
6   TRANSFER  2421578.09   C106297322           0.00            0.00
7   TRANSFER  1349670.68  C1419332030           0.00            0.00
8   TRANSFER   314403.14  C1262110193           0.00            0.00
9   TRANSFER  1457213.54   C396918327           0.00            0.00
10  TRANSFER   180368.84  C1055601039           0.00            0.00
11  TRANSFER   445038.71   C547441493           0.00            0.00
12  TRANSFER  1123206.66   C967677821           0.00            0.00
13  TRANSFER   176334.26   C169880779       45136.00            0.00
14  TRANSFER   161217.61   C552674617           0.00            0.00
15  TRANSFER   108443.61  C1974622245           0.00            0.00
16  TRANSFER   438437.09   C977160959           0.00            0.00
17  TRANSFER   928722.69  C1563053805           0.00            0.00
18  TRANSFER  1478772.04  C1464177809           0.00            0.00
19  TRANSFER  2545478.01  C1057507014           0.00            0.00
20   CASH_IN   193492.68  C1200546947      706457.23       899949.91
21   CASH_IN   349640.51  C1493042329     1023111.71      1372752.22
22   CASH_IN   135324.19  C1751403001     1372752.22      1508076.41
23   CASH_IN   380015.14  C1717433286     1508076.41      1888091.55
24   CASH_IN   418688.27  C1756819670     1888091.55      2306779.82
25   CASH_IN   311023.52  C1078262677     2306779.82      2617803.34
26   CASH_IN   151862.38   C178604517     2617803.34      2769665.72
27   CASH_IN   228710.05    C57624756     2769665.72      2998375.78
28   CASH_IN   220431.09  C1543518287     2998375.78      3218806.87
29   CASH_IN   182861.45   C998242313     3218806.87      3401668.32
30   CASH_IN   231881.50   C464872674     3401668.32      3633549.82
31  TRANSFER   744654.21  C1758060579           0.00            0.00
32  CASH_OUT   158934.62  C1898629094       18136.20            0.00
33  TRANSFER   107159.07   C800990938        6476.00            0.00
34   CASH_IN   367834.87  C1023460014      902685.56      1270520.43

       nameDest  oldbalanceDest  newbalanceDest          OrigCountry  \
0    C476402209         5083.00        51513.44          AFGHANISTAN
1    C932583850         6267.00      2719172.89                HAITI
2    C564160838       930082.81      1254956.07              SENEGAL
3   C1531333864       701567.56        55974.56                KENYA
4    C453211571       883248.39      3461666.05                YEMEN
5   C1590550415      6977445.38     19169204.93             CAMBODIA
6   C1590550415      8515645.77     19169204.93              VIETNAM
7    C665576141      1538085.96      5515763.34               ANGOLA
8   C1789550256       888232.25      4619798.56              NIGERIA
9   C1590550415     10937223.86     19169204.93                BENIN
10  C1359044626      1437353.34        16518.36            NICARAGUA
11  C1531333864       802245.42        55974.56        COTE D'IVOIRE
12   C451111351      1773963.18      3940085.21                CHINA
13  C1286084959      1251626.46      2107778.11      MACEDONIA NORTH
14   C909295153       199733.00      5602234.95              BELGIUM
15   C240650537       246974.30            0.00              CROATIA
16   C248609774       740675.45      6453430.91               FRANCE
17   C985934102      1259119.80       971418.91             DOMINICA
18  C1170794006      1652668.12        22190.99            AUSTRALIA
19  C1590550415     12394437.40     19169204.93                CHILE
20  C1531333864      1247284.13        55974.56                JAPAN
21   C909295153       360950.61      5602234.95            GUATEMALA
22   C453211571      1356747.89      3461666.05           KAZAKHSTAN
23   C401424608      1336470.16      1178808.14            ARGENTINA
24   C401424608       956455.03      1178808.14  ANTIGUA AND BARBUDA
25   C766572210      1477776.96            0.00              DENMARK
26   C920011586       158858.48            0.00             SLOVENIA
27  C1297685781       743792.14        16997.22               SWEDEN
28   C451111351      2897169.84      3940085.21          NEW ZEALAND
29   C485041780       192776.92            0.00               NORWAY
30  C1509514333       894141.72         2415.16         COOK ISLANDS
31   C665576141      6942242.08      6818933.60              LIBERIA
32   C187649742       168294.74       327229.36             THAILAND
33  C1877453512            0.00       107159.07               JORDAN
34  C1609562230      4883037.95      4515203.08     MARSHALL ISLANDS

      DestCountry  isFraud    Flag
0      CAPE VERDE        0  orange
1       SRI LANKA        0  orange
2         LIBERIA        0  orange
3      LUXEMBOURG        0  orange
4     SWITZERLAND        0  orange
5          CANADA        0  orange
6        COLOMBIA        0  orange
7       INDONESIA        0  orange
8          LATVIA        0  orange
9    KOREA, SOUTH        0  orange
10          ITALY        0  orange
11  UNITED STATES        0  orange
12    NETHERLANDS        0  orange
13       PAKISTAN        0  orange
14        LIBERIA        0  orange
15       MONGOLIA        0  orange
16       THAILAND        0  orange
17     KYRGYZSTAN        0  orange
18       PAKISTAN        0  orange
19        LIBERIA        0  orange
20          YEMEN        0  orange
21   SIERRA LEONE        0  orange
22        SENEGAL        0  orange
23          KENYA        0  orange
24          YEMEN        0  orange
25       CAMBODIA        0  orange
26        LIBERIA        0  orange
27       MONGOLIA        0  orange
28        BOLIVIA        0  orange
29     TAJIKISTAN        0  orange
30       THAILAND        0  orange
31        ECUADOR        0  orange
32         CYPRUS        0  orange
33      NICARAGUA        0  orange
34        MYANMAR        0  orange

 Green

         type      amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
0   TRANSFER      996.00  C1839206329       46132.00        45136.00
1   TRANSFER  2061082.82  C2007599722           0.00            0.00
2   TRANSFER   983479.66  C2029780820           0.00            0.00
3   TRANSFER   635507.97    C65080774           0.00            0.00
4   TRANSFER   848231.57  C2116179210           0.00            0.00
5   TRANSFER   739112.93  C1172535934           0.00            0.00
6   TRANSFER   324397.94  C1648700617           0.00            0.00
7   TRANSFER   982862.81  C1765900922           0.00            0.00
8   TRANSFER   955855.00    C94830685           0.00            0.00
9   TRANSFER   179253.24  C1539947037           0.00            0.00
10  TRANSFER     5446.88   C270661321         666.00            0.00
11  TRANSFER      648.64  C1217312754         873.00          224.36
12  TRANSFER     8494.71  C1099552523       11129.00         2634.29
13  CASH_OUT   373068.26  C1047934137       20034.00            0.00
14   CASH_IN   143236.26  C1862994526           0.00       143236.26
15   CASH_IN   228451.89  C1614133563      143236.26       371688.15
16   CASH_IN    35902.49   C839771540      371688.15       407590.65
17   CASH_IN   232953.64  C1037163664      407590.65       640544.28
18   CASH_IN    38071.17  C1659286984     3633549.82      3671620.98
19   CASH_IN    87117.29  C1064905627     3671620.98      3758738.27
20   CASH_IN   114271.72  C2072130509     3758738.27      3873009.99
21   CASH_IN    73199.10  C1260440107     3873009.99      3946209.08
22   CASH_IN   764772.98   C482307698     3946209.08      4710982.07
23   CASH_IN   106847.36  C1793899405     4710982.07      4817829.42
24  TRANSFER   303473.14   C900824070         798.00            0.00
25  TRANSFER     3949.99   C800218956        5533.00         1583.01
26  TRANSFER      740.95  C1739806152         782.00           41.05
27  TRANSFER     8416.21   C107632469       56060.58        47644.38
28  TRANSFER   414959.03  C2010426450           0.00            0.00
29  TRANSFER   317831.06   C703824017           0.00            0.00
30  TRANSFER   548202.26   C371054890           0.00            0.00
31  TRANSFER   180173.39  C2009317431           0.00            0.00
32  TRANSFER   243853.63   C623330465           0.00            0.00
33  TRANSFER  1339661.93   C283492252           0.00            0.00
34  TRANSFER      482.58   C141388791         439.00            0.00
35  TRANSFER   495294.14   C651676429           0.00            0.00
36  TRANSFER  1095802.84   C602529144           0.00            0.00
37  TRANSFER  1408829.48  C1191985705           0.00            0.00
38  TRANSFER   704242.78   C104893413           0.00            0.00
39  TRANSFER  2025330.83   C509065091           0.00            0.00
40  TRANSFER  1488547.68  C1941482284           0.00            0.00
41  TRANSFER   312895.63  C1724067349       40171.00            0.00
42   CASH_IN   287937.99  C1716876539     1270520.43      1558458.42
43   CASH_IN    37360.00  C1052245880     1558458.42      1595818.41
44  CASH_OUT   269206.30  C1526476924           0.00            0.00

       nameDest  oldbalanceDest  newbalanceDest           OrigCountry  \
0    C998351292        88106.55      1015132.48        UNITED KINGDOM
1   C1590550415     14939915.42     19169204.93            MONTENEGRO
2   C1170794006      3131440.16        22190.99                GREECE
3    C747464370       834457.23      1567434.81              PORTUGAL
4   C1170794006      4114919.82        22190.99                 SPAIN
5    C564160838      1141158.73      1254956.07                ISRAEL
6    C932583850       373058.79      2719172.89             LITHUANIA
7    C985934102      2187842.49       971418.91               DENMARK
8    C248609774      1179112.54      6453430.91              SLOVENIA
9   C1870252780       179614.10        46462.23                SWEDEN
10  M1964434661            0.00            0.00           NEW ZEALAND
11  M1585571244            0.00            0.00                NORWAY
12    M66724371            0.00            0.00          COOK ISLANDS
13  C1286084959      1427960.73      2107778.11              BULGARIA
14  C1688019098       608932.17        97263.78               FINLAND
15  C2083562754       719678.38      1186556.81              MALAYSIA
16  C2001112025        49003.30            0.00            AZERBAIJAN
17    C33524623      1172672.27      1517262.16               UKRAINE
18   C601893033       122487.00        54985.05              BULGARIA
19    C75457651       501093.89        31469.78               FINLAND
20   C985934102      3170705.30       971418.91               ANDORRA
21  C1749186397       401926.25       277515.05               ESTONIA
22   C985934102      3056433.58       971418.91               ECUADOR
23   C575335780       335711.51        52415.15                 GHANA
24   C790722099            0.00       303473.14           EL SALVADOR
25  C1668376627       209201.42       195932.40          SOUTH AFRICA
26   M948315053            0.00            0.00                CYPRUS
27  M1998224723            0.00            0.00               ROMANIA
28  C1916720513      6375632.67      6235766.54                JORDAN
29  C1789550256      3964356.31      2943614.60                PANAMA
30   C453211571      3726770.23      3809570.13  UNITED ARAB EMIRATES
31  C2134357721       280908.87       182906.20            BANGLADESH
32  C2083562754      1807948.63      2051802.27                 QATAR
33  C1899073220      3043311.43      3208966.39        UNITED KINGDOM
34   C716157500         4894.45         5377.03               JAMAICA
35  C2083562754      2808555.73      5312631.16               VANUATU
36  C1636786811      5607296.22      6703099.06                GAMBIA
37  C1360767589      2240534.89      5188539.32                 SAMOA
38   C451111351      3375453.14      4654237.15              MALAYSIA
39   C214774813     13025097.92     15944428.35            AZERBAIJAN
40  C1446521801      5037279.00      6525826.68               UKRAINE
41  C1651945012            0.00      1556799.98    BOSNIA-HERZEGOVINA
42  C1423992712      9977117.37      9689179.38              HONDURAS
43   C790722099        88544.15        51184.15               MOROCCO
44  C1065997164       974210.20      2826797.81                 INDIA

           DestCountry  isFraud   Flag
0            SINGAPORE        0  green
1           LUXEMBOURG        0  green
2          SWITZERLAND        0  green
3               CANADA        0  green
4             COLOMBIA        0  green
5            INDONESIA        0  green
6             BARBADOS        0  green
7               TURKEY        0  green
8     MACAO SAR, CHINA        0  green
9           UZBEKISTAN        0  green
10             ALBANIA        0  green
11         PHILIPPINES        0  green
12              BELIZE        0  green
13  BOSNIA-HERZEGOVINA        0  green
14          SEYCHELLES        0  green
15    MARSHALL ISLANDS        0  green
16            HONDURAS        0  green
17             MOROCCO        0  green
18             JAMAICA        0  green
19              JORDAN        0  green
20              PANAMA        0  green
21              FRANCE        0  green
22            DOMINICA        0  green
23           AUSTRALIA        0  green
24               CHILE        0  green
25          MONTENEGRO        0  green
26              GREECE        0  green
27            PORTUGAL        0  green
28               SPAIN        0  green
29              ISRAEL        0  green
30           LITHUANIA        0  green
31             DENMARK        0  green
32            SLOVENIA        0  green
33               INDIA        0  green
34             ROMANIA        0  green
35      UNITED KINGDOM        0  green
36     MACEDONIA NORTH        0  green
37             BELGIUM        0  green
38              ISRAEL        0  green
39           LITHUANIA        0  green
40             DENMARK        0  green
41             ANDORRA        0  green
42          UZBEKISTAN        0  green
43             ECUADOR        0  green
44              SERBIA        0  green

 Red

         type      amount     nameOrig  oldbalanceOrg  newbalanceOrig  \
82  TRANSFER  1096187.24  C1093223281     1096187.24             0.0
83  CASH_OUT  1096187.24    C77163673     1096187.24             0.0
90  TRANSFER    13704.00  C1735554279       13704.00             0.0
92  CASH_OUT    13704.00  C1421965867       13704.00             0.0
97  CASH_OUT      164.00  C1173659886         164.00             0.0
98  TRANSFER      164.00  C1455969984         164.00             0.0

       nameDest  oldbalanceDest  newbalanceDest OrigCountry    DestCountry  \
82  C2063275841            0.00            0.00      PANAMA  COTE D'IVOIRE
83   C644345897            0.00      1096187.24     LEBANON          CHINA
90    C12793273            0.00      1658746.09      BELIZE       SLOVENIA
92  C1438594533         3382.84       143675.35  SEYCHELLES        VANUATU
97  C1769947269         4068.00            0.00    PAKISTAN         GUYANA
98  C2119910556            0.00            0.00   SRI LANKA        TUNISIA

   Flag
82  Red
83  Red
90  Red
92  Red
97  Red
98  Red

In [58]:
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
from email.mime.base import MIMEBase
from email.mime.image import MIMEImage
import base64
from email import encoders
import smtplib
red_file="Generated_Csv\Red_Flagged.csv"
sender_address = 'amlteam.lscg@gmail.com'
sender_pass = 'lscg2020'                                                         
recipients=['kushagra.tandon@zohomail.eu','kushagra.25@zohomail.eu','akshit.gupta2001@zohomail.eu','tarun.tiwari2000@zohomail.eu']
message_content="""<!DOCTYPE html>
<html>
    <body>
        <h2 style="color:Red;">ALERT !!! A Fraud Has Been Detected by LS&CG</h2>
        <h5 style="color:SlateGray;">The Money Laundering Cases Has Been Detected.</h5>
        <img src="cid:Fraudimage" width='400' height=200>
        <h5 style="color:Black;">The Data is Being Attached Along With The Email. Please Look Into The Transaction & Notify On Server</h5>
        <h5 style="color:Black;">Update The Final Result On akshit_web_link.com</h5>
        <h6 style="color:Red;">This Is A System Generated Email Please Do Not Reply To This E-Mail. For More Information Contact LS&CG</h6>
        
    </body>
</html>
"""
message = MIMEMultipart()
message['From'] = sender_address
message['To'] = ", ".join(recipients)
message['Subject'] = 'FRAUD DETECTECTION!!!'                                                                                           
                                                                                                
message.attach(MIMEText(message_content, 'html'))
attach_file_name = red_file                                                            
attach_file = open(attach_file_name, 'rb')                                      
payload = MIMEBase('application', 'octate-stream')
payload.set_payload((attach_file).read())
encoders.encode_base64(payload) 
                                                                                                
payload.add_header('Content-Decomposition', 'attachment', filename=attach_file_name)
message.attach(payload)

fp = open('DataSets/fraud.jpg', 'rb')
image = MIMEImage(fp.read())
fp.close()
image.add_header('Content-ID', '<Fraudimage>')
message.attach(image)
                                                                                                 
session = smtplib.SMTP('smtp.gmail.com', 587)                                   
session.starttls()                                                               
session.login(sender_address, sender_pass)                                       
text = message.as_string()
session.sendmail(sender_address, recipients, text)
session.quit()
print('The Mail Has Been Send Successfully')

orange_file="Generated_Csv\ORANGE_FLAGGED.csv"
sender_address = 'amlteam.lscg@gmail.com'
sender_pass = 'lscg2020'                                                         
recipients=['tarun.tiwari2000@zohomail.eu','kushagra.tandon@zohomail.eu','kushagra.25@zohomail.eu','akshit.gupta2001@zohomail.eu']
message_content="""<!DOCTYPE html>
<html>
    <body>
        <h2 style="color:Red;">ALERT !!! A Potential Fraud Has Been Detected by LS&CG</h2>
        <h5 style="color:SlateGray;">The Money Laundering Cases Has Been Detected.</h5>
        <img src="cid:Fraudimage" width='400' height=200>
        <h5 style="color:Black;">The Data is Being Attached Along With The Email. Please Look Into The Transaction & Notify On Server</h5>
        <h5 style="color:Black;">Update The Final Result On akshit_web_link.com</h5>
        <h6 style="color:Red;">This Is A System Generated Email Please Do Not Reply To This E-Mail. For More Information Contact LS&CG</h6>
    </body>
</html>
"""
message = MIMEMultipart()
message['From'] = sender_address
message['To'] = ", ".join(recipients)
message['Subject'] = 'FRAUD DETECTECTION!!!'                                                                                                                                                               
message.attach(MIMEText(message_content, 'html'))
attach_file_name = red_file                                                            
attach_file = open(attach_file_name, 'rb')                                      
payload = MIMEBase('application', 'octate-stream')
payload.set_payload((attach_file).read())
encoders.encode_base64(payload)                                                                          
payload.add_header('Content-Decomposition', 'attachment', filename=attach_file_name)
message.attach(payload)
fp = open('DataSets/fraud.jpg', 'rb')
image = MIMEImage(fp.read())
fp.close()
image.add_header('Content-ID', '<Fraudimage>')
message.attach(image)                                                                                  
session = smtplib.SMTP('smtp.gmail.com', 587)                                   
session.starttls()                                                               
session.login(sender_address, sender_pass)                                       
text = message.as_string()
session.sendmail(sender_address, recipients, text)
session.quit()

The Mail Has Been Send Successfully

(221, b'2.0.0 closing connection n4sm956873pgv.89 - gsmtp')